@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
}
button:disabled {
  cursor: not-allowed !important;
}
button:disabled i {
  color: #c4c4c4 !important;
}

.app__container {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: row;
  overflow: hidden;
}
@media (max-width: 992px) {
  .app__container {
    flex-direction: column;
    overflow-x: hidden;
  }
}

.wheel {
  position: relative;
  --size: clamp(250px, 40vmin, 700px);
  --lg-hs: 0 3%;
  --lg-stop: 50%;
  display: grid;
  grid-gap: calc(var(--size) / 20);
  align-items: center;
  grid-template-areas: "spinner" "trigger";
}
@media (max-width: 992px) {
  .wheel {
    justify-content: center;
  }
}
.wheel.is-spinning .wheel__list {
  transition: transform 7s cubic-bezier(0.1, -0.01, 0, 1);
}
.wheel > * {
  grid-area: spinner;
}
.wheel__play {
  background-color: transparent;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 80;
  color: #f2f2f2;
  border: none;
  grid-area: trigger;
  justify-self: center;
}
.wheel__list {
  /* добавляем относительное позиционирование */
  position: relative;
  /* подключаем сетку */
  display: grid;
  /* выравниваем всё по центру */
  align-items: center;
  /* устанавливаем размеры */
  width: 32em;
  height: 32em;
  background-color: #ccc;
  /* поворачиваем элемент  */
  transform: rotate(calc(var(--rotate, 25) * 1deg));
  /* рисуем круглую обводку, а всё, что не поместится, — будет скрыто за кругом */
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
@media (max-width: 550px) {
  .wheel__list {
    width: 25em;
    height: 25em;
  }
}
@media (max-width: 420px) {
  .wheel__list {
    width: 19em;
    height: 19em;
  }
}
.wheel__list .wheel__item {
  /* включаем «гибкую» вёрстку */
  display: flex;
  position: absolute;
  align-items: center;
  /* задаём отступы от краёв блока */
  padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);
  /* устанавливаем размеры */
  height: 50%;
  width: 100%;
  /* устанавливаем координаты, относительно которых будем вращать текст */
  transform-origin: center;
  /* поворачиваем текст */
  transform: rotate(var(--rotate));
  /* запрещаем пользователю выделять мышкой текст на секторах */
  min-width: 0;
  font-size: 24px;
}
.wheel__list .wheel__item_text {
  display: inline-block;
  align-items: center;
  line-height: 83px;
  width: 150px;
  padding: 10px 10px 4px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 550px) {
  .wheel__list .wheel__item_text {
    width: 120px;
  }
}
@media (max-width: 420px) {
  .wheel__list .wheel__item_text {
    width: 80px;
  }
}
.wheel__list_xl .wheel__item {
  font-size: 26px !important;
}
@media (max-width: 550px) {
  .wheel__list_xl .wheel__item {
    font-size: 16px !important;
  }
}
.wheel__list_lg .wheel__item {
  font-size: 20px !important;
}
@media (max-width: 550px) {
  .wheel__list_lg .wheel__item {
    font-size: 14px !important;
  }
}
.wheel__list_md .wheel__item {
  font-size: 14px !important;
}
@media (max-width: 550px) {
  .wheel__list_md .wheel__item {
    font-size: 12px !important;
  }
}
.wheel__list_sm .wheel__item {
  font-size: 12px !important;
}
@media (max-width: 550px) {
  .wheel__list_sm .wheel__item {
    font-size: 10px !important;
  }
}
.wheel__list_xs .wheel__item {
  font-size: 10px !important;
}
@media (max-width: 550px) {
  .wheel__list_xs .wheel__item {
    font-size: 8px !important;
  }
}
.wheel__border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 15px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  z-index: 20;
  top: 0;
}
@media (max-width: 550px) {
  .wheel__border {
    width: 25em;
    height: 25em;
  }
}
@media (max-width: 420px) {
  .wheel__border {
    width: 19em;
    height: 19em;
  }
}
.wheel__circle {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
  border: 5px solid #f2f2f2;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 550px) {
  .wheel__circle {
    width: 80px;
    height: 80px;
  }
  .wheel__circle button {
    font-size: 20px;
  }
}
.wheel__circle:after {
  content: "";
  position: absolute;
  border-width: 22px;
  border-style: solid;
  border-color: transparent transparent #f2f2f2;
  left: 50%;
  margin-left: -22px;
  top: -44px;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 550px) {
  .wheel__circle:after {
    border-width: 17px;
    left: 57%;
    top: -34px;
  }
}

.side {
  width: 430px;
  margin-left: 30px;
  border-left: 1px solid #d3d3d3;
  padding-left: 5px;
}
@media (max-width: 992px) {
  .side {
    border: none;
    margin: auto;
  }
}
@media (max-width: 550px) {
  .side {
    width: 400px;
    padding: 0 10px;
  }
}
@media (max-width: 420px) {
  .side {
    width: 310px;
  }
}
.side__tabs {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-between;
}
.side__tabs .side__links {
  display: flex;
}
@media (max-width: 550px) {
  .side__tabs .side__links a {
    font-size: 16px;
  }
}
.side__tabs .side__icons {
  display: flex;
  align-items: center;
}
.side__tabs .side__icons button {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 16px;
  z-index: 100;
  margin-right: 10px;
}
@media (max-width: 420px) {
  .side__tabs .side__icons button {
    font-size: 14px;
  }
}
.side__tabs .side__icons button:last-child {
  margin-right: 0;
}
.side__tabs .side__tab {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #3e96fb;
}
.side__tabs .side__tab:not(.side__tabs .side__tab_active):hover {
  text-decoration: underline;
}
.side__tabs .side__tab_active {
  color: #5e5e5e !important;
}
.side__entries {
  display: flex;
  align-items: center;
}
.side__entries_counter {
  display: none;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .side__entries_counter {
    width: 18px;
    height: 18px;
    font-size: 10px;
    padding: 0;
  }
}
.side__results {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.side__results .side__counter {
  display: none;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .side__results .side__counter {
    width: 18px;
    height: 18px;
    font-size: 10px;
    padding: 0;
  }
}
.side__number {
  width: 50px;
  height: 100%;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
}
.side__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  font-size: 18px;
}
@media (max-width: 420px) {
  .side__head {
    height: 30px;
  }
}
.side__head .side__number {
  background-color: #d3d3d3;
}
.side__head .side__input {
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  outline: none;
  font-size: 18px;
}
@media (max-width: 550px) {
  .side__head .side__input {
    font-size: 16px;
  }
}
.side__head .side__btn {
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  max-width: 64px;
}
@media (max-width: 550px) {
  .side__head .side__btn {
    font-size: 16px;
  }
}
.side__body {
  display: none;
  font-size: 18px;
  max-height: 416px;
  overflow: auto;
  padding-right: 4px;
}
.side__body .side__number {
  background-color: #f2f2f2;
  margin-right: 8px;
}
.side__body .side__text {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  width: 100%;
  height: 100%;
  outline: none;
  line-height: 40px;
  font-size: 15px;
}
.side__body_active {
  display: block;
}
.side__item {
  margin-bottom: 10px;
  display: flex;
  height: 40px;
}
.side__item_hide {
  opacity: 0.5;
}
.side__buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  width: 100%;
  max-width: 64px;
  align-items: center;
  margin-left: 8px;
}
.side__buttons button {
  display: block;
  border: none;
  background: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}
.side__buttons .side__hide {
  margin-right: 10px;
}
.side.side_result .side__icons button[id=wheelShuffle] {
  display: none;
}
.side.side_result .side__head {
  display: none;
}
.side.side_result .side__body {
  max-height: 474px;
}
.side.side_result .side__item {
  width: 100%;
  max-width: 100%;
}
.side.side_result .side__item .side__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.side.side_result .side__item .side__text .side__inc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50%;
  width: 35px;
  font-size: 11px;
  padding: 3px 5px;
  background-color: green;
  border-radius: 20px;
  border: 1px;
}
.side.side_result .side__item .side__number {
  display: none;
}
.side.side_result .side__item .side__buttons {
  display: none;
}
.side.side_amount-off .side__number {
  display: none;
}
.side.side_amount-off .side__input, .side.side_amount-off .side__text {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
}
.side input:read-only {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.wheel-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0;
  visibility: hidden;
}
.wheel-modal_open {
  z-index: 1000;
  opacity: 1;
  visibility: visible;
}
.wheel-modal__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.wheel-modal__content {
  background-color: #fff;
  color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  align-self: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex-direction: column;
  height: 40rem;
  width: 45rem;
  padding: 2rem 5rem;
  border-radius: 0.5rem;
}
@media (max-width: 600px) {
  .wheel-modal__content {
    padding: 0.5rem;
    font-size: 14px;
  }
}
.wheel-modal__win {
  color: #000000;
  font-size: 5vw;
  width: 100%;
}
.wheel-modal__win h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.wheel-modal__input {
  border: 3px solid #d3d3d3;
  flex: 1 1 0;
  overflow: auto;
  padding: 1rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 2rem;
}
.wheel-modal__input-editable {
  flex: 1 0 20rem;
  outline: none;
  cursor: text;
  height: 100%;
}
.wheel-modal__input-editable:empty:before {
  content: attr(aria-placeholder);
  display: block;
  color: #d3d3d3;
  font-size: 20px;
  width: 100%;
}
@media (max-width: 600px) {
  .wheel-modal__input-editable:empty:before {
    font-size: 14px;
  }
}
.wheel-modal__input-readonly {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px dashed #d3d3d3;
  outline: none;
}
.wheel-modal__input-readonly input {
  font-size: 16px;
  border: none;
  outline: none;
}
@media (max-width: 600px) {
  .wheel-modal__input-readonly input {
    font-size: 14px;
  }
}
.wheel-modal__buttons {
  display: grid;
  width: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 600px) {
  .wheel-modal__buttons {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
  .wheel-modal__buttons button {
    font-size: 16px;
  }
}
.wheel-modal__button {
  cursor: pointer;
  display: inline-block;
  background-color: rgb(208, 2, 27);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}
.wheel-modal__button_add {
  background-color: rgb(247, 183, 29);
}
.wheel-modal__button_ok {
  background-color: #2d76f5;
}
.wheel-modal__button_hide {
  background-color: rgb(247, 183, 29);
}
.wheel-modal__button_remove {
  background-color: rgb(208, 2, 27);
}
.wheel-modal__button_inc {
  background-color: green;
}
.wheel-modal__button:hover {
  transform: scale(1.1);
}
.wheel-modal[id=wheelModalWin] .wheel-modal__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30rem;
}
@media (max-width: 600px) {
  .wheel-modal[id=wheelModalWin] .wheel-modal__content {
    justify-content: space-between;
  }
}
.wheel-modal[id=wheelModalWin] .wheel-modal__content h3 {
  margin: 140px 0;
}
@media (max-width: 600px) {
  .wheel-modal[id=wheelModalWin] .wheel-modal__content h3 {
    margin: 10px 0;
    font-size: 10vw;
  }
}
.wheel-modal[id=wheelModalWin] .wheel-modal__buttons {
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 600px) {
  .wheel-modal[id=wheelModalWin] .wheel-modal__buttons {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

/* анимируем выпавший сектор */
.wheel__item.selected span {
  /* делаем текст белым */
  color: white;
  /* настраиваем длительность анимации */
  animation: selected 800ms ease;
}

/* настраиваем анимацию текста на выпавшем секторе по кадрам */
@keyframes selected {
  /* что происходит на 25% от начала анимации */
  25% {
    /* увеличиваем текст в 1,25 раза */
    transform: scale(1.25);
    /* добавляем тексту тень */
    text-shadow: 1vmin 1vmin 0 hsla(0deg, 0%, 0%, 0.1);
  }
  40% {
    transform: scale(0.92);
    text-shadow: 0 0 0 hsla(0deg, 0%, 0%, 0.2);
  }
  60% {
    transform: scale(1.02);
    text-shadow: 0.5vmin 0.5vmin 0 hsla(0deg, 0%, 0%, 0.1);
  }
  75% {
    transform: scale(0.98);
  }
  85% {
    transform: scale(1);
  }
}
.hide {
  display: none !important;
}

.amount_checkbox {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 10000;
}

/*# sourceMappingURL=index.css.map */
